<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/wantech-peter/lth/raw/master/LTH.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/wantech-peter/lth/raw/master/logo57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/wantech-peter/lth/raw/master/logo512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>net.wantech.LTHInventory</key>
		<string>XC: net.wantech.LTHInventory</string>
	</dict>
	<key>signingCertificate</key>
	<string>782F2FF52457A494FDFDD43EB37786304D4F6360</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>77GS6YCV9A</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
